---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" sideBarActiveItemID="about-me">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About Me</div>
  </div>

  <div class="mb-10 text-justify">
    Hi, my name is <b>Alissa</b>! I'm originally from Arlington, VA and now live in Durham, NC. 
    In my free time, I love trying new restaurants, 
    drawing <a href="/art-gallery/" class="text-sky-500 hover:text-sky-700 transition underline">(click here to see my art gallery!)</a>, 
    and hanging out with my two dogs.
    During my time at Duke, I became deeply invested in <b>community engagement</b>.
    I founded New Neighbors Project, a student organization that pairs local refugee
    children with college student mentors. Furthermore, I assisted with Turquoise Parker's "Shark Tank" program at Lakewood Elementary, helping 
    children develop their own entrepreneurial ventures while learning important life skills---including how to
    pay taxes!! I'm also passionate about increasing access to housing, having worked with
    Duke Homebuyers Club and Habitat for Humanity. 
    I am currently applying to developmental psychology Ph.D. programs in hopes of becoming a tenure-track professor.
  </div>

  <div class="flex flex-col sm:flex-row justify-center gap-6 mt-10">
    <img
      src="/baby.webp"
      alt="Baby Alissa"
      class="rounded-xl shadow-md object-cover w-full sm:w-1/2"
      loading="lazy"
    />
    <img
      src="/child.webp"
      alt="Young Alissa"
      class="rounded-xl shadow-md object-cover w-full sm:w-1/2"
      loading="lazy"
    />
  </div>
</BaseLayout>