---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" sideBarActiveItemID="about-me">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About Me</div>
  </div>

  <div class="mb-10 text-justify">
    Originally from Arlington, Virginia, I graduated with a B.A. in psychology from Duke University in 2025.
    During my time at Duke, I became deeply invested in psychological research, teaching, and community engagement.
    In hopes of making a difference in children's lives, I founded New Neighbors Project, a student organization that connects local refugee
    children with college student mentors. Furthermore, I volunteered with Turquoise Parker's "Shark Tank" program at Lakewood Elementary, helping 
    children develop their very own entrepreneurial ventures as they learned important life skills such as public speaking and how to
    pay taxes. I am also passionate about increasing access to housing, having interned with
    Duke Homebuyers Club (an organization that helps Duke employees purchase their first home) and volunteered at
    Habitat for Humanity. I currently work as the Tomasello Lab Manager at Duke University. I am currently applying
    to Ph.D. programs in hopes of becoming a tenure-track professor of developmental psychology.
  </div>
