---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Art Gallery">
<div class="mb-5 text-center">
  <div class="text-3xl font-bold">Art Gallery</div>
</div>

    <img 
      src="/art_gallery.webp" 
      alt="Alissa Rivero Art Gallery" 
      class="w-full h-auto object-cover rounded-lg shadow-lg"
    />
  </div>
</BaseLayout>