---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Art Gallery">
<div class="mb-5 text-center">
  <div class="text-3xl font-bold">Art Gallery</div>
</div>

<div class="relative left-1/2 right-1/2 -mx-[50vw] w-screen">
  <img 
    src="/art.webp" 
    alt="Alissa Rivero Art Gallery" 
    class="w-full h-auto object-cover"
  />
</div>