---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1"></div>
    <div class="flex justify-left py-0">
  <img
    src="/name.webp"
    alt="Alissa Rivero"
    class="h-36 md:h-40 object-contain"
  />
</div>
    <div class="text-3xl py-3 font-bold">Tomasello Lab Manager</div>
    <div class="py-2">
      <text class="text-lg">
       I am an aspiring <b>developmental psychologist</b>, currently working with Dr. Michael Tomasello and Dr. Dorsa Amir at Duke University.
       My research centers children as models of cooperation, learning, and exploration. I am particularly interested in how these processes
       are shaped by bottom-up and top top-down influences, including acute changes to childhood. 
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:alissa.rivero@duke.edu" target="_blank"> Email Me</a>
      <a href="https://alissarivero.github.io/research-interests/" target="_blank" class="btn btn-outline ml-5">
        Learn more about my research 
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My current work</div>
  </div>

  <HorizontalCard
    title="Children's Exploration and Learning with Peers versus Adults"
    img="/explore.webp"
    desc="Rivero, A., Tomasello, M."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Resetting: Children's Intuitive Heuristic for Creativity and Exploration"
    img="/create.webp"
    desc="Rivero, A., Amir, D."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Emergence of Children's Cooperation and Coordination in Peer Groups"
    img="/tsa.webp"
    desc="Rivero, A., Vasil, J., Tomasello, M."
    url="#"
    badge="Under Review"
  />
