---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-5xl w-full font-bold">Projects</div>
  </div>

         <div class="mx-auto mt-4 mb-4 h-[2px] w-7/8 bg-white opacity-80"></div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Tomasello Lab (Principal Investigator: Dr. Michael Tomasello)</div>
  </div>

  <HorizontalCard
    title="Children's Exploration and Learning with Peers versus Adults"
    img="/explore.webp"
    desc="Study 1: Does peer instruction confer robust benefits to the learning by effectively transmitting information without constraining exploration? Study 2: How does adult direction shape children's cooperative learning and peer interactions?"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Emergence of Children's Cooperation and Coordination in Peer Groups"
    img="/tsa.webp"
    desc="How do 2- and 3-year-olds navigate a pure coordination task in dyads and triads?"
    url="#"
    badge="Under Review"
  />

       <div class="mx-auto mt-4 mb-4 h-[2px] w-7/8 bg-white opacity-80"></div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Mind and Culture Lab (Principal Investigator: Dr. Dorsa Amir)</div>
  </div>

<HorizontalCard
  title="Resetting: Children’s Intuitive Heuristic for Creativity and Exploration"
  img="/create.webp"
  desc="Is resetting — fully disassembling or starting from scratch — a simple strategy for boosting creativity and exploration? Do children reset more than adults?"
  url="#"
/>

<div class="divider my-0"></div>

<HorizontalCard
  title="Designed for Learning: Children’s Information Processing, Construction, and Discovery"
  img="/review.webp"
  desc="This review paper synthesizes research on how children’s information processing (attention, executive function), construction (play, imagination), and discovery (exploration, experimentation) support rapid learning of the world around them (which could take a variety of different forms)."
  url="#"
  badge="Review Paper"
/>

       <div class="mx-auto mt-4 mb-4 h-[2px] w-7/8 bg-white opacity-80"></div>
  </div>

<div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">BRITE Lab (Principal Investigator: Dr. Bridgette Hard)</div>
  </div>

  <HorizontalCard
    title="Why Students Hate Group Projects"
    img="/jais1.webp"
    desc="This study explores student attitudes toward and experiences with a semester-long group project."
    url="#"
    badge="Pre-Print"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Improving Student Experiences with Group Projects"
    img="/jais2.webp"
    desc="This study examines how pedagogical intervention can improve student experiences and outcomes in group projects at the university level."
    url="#"
    badge="Pre-Print"
  />

        <div class="mt-8">
      <a href="alissarivero.github.io/research-interests/" target="_blank" class="btn btn-outline ml-5">
        Click here learn more about my research interests 
      </a>
  
      <div class="flex justify-center w-full relative mt-0">
        <img
          src="/moon_short.webp"
          alt="Thanks for coming!"
          class="h-90 md:h-95 object-contain w-[95%] md:w-[100%] max-w-[1000px] z-0"
        />
      </div>