---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<!-- Must be a direct child of the .drawer container in BaseLayout -->
<div class="drawer-side z-40 bg-white-500">
  <!-- Required overlay for mobile -->
  <label for="my-drawer" class="drawer-overlay"></label>

  <!-- Sidebar container -->
  <aside
    data-theme="sidebarDark"
    class="px-4 pt-4 min-h-full w-[30rem] text-[1.05rem] md:text-[1.1rem] leading-relaxed text-base-content flex flex-col"
  >
    <div class="w-fit mx-auto mt-6 mb-8">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[13rem]">
            <Image
              class="mask mask-circle"
              format="webp"
              width={500}
              height={500}
              src="/profile.webp"
              alt="Profile image"
            />
          </div>
        </div>
      </a>
    </div>

    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
