---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<!-- Must be a direct child of the .drawer container in BaseLayout -->
<div class="drawer-side z-40 bg-white-500">
  <!-- Required overlay for mobile -->
  <label for="my-drawer" class="drawer-overlay"></label>

  <!-- Sidebar container -->
  <aside
    data-theme="sidebarDark"
    class="px-6 pt-6 min-h-full w-[25rem] text-[1.15rem] md:text-[1.25rem] leading-relaxed text-base-content flex flex-col"
  >
    <!-- Profile Image -->
    <div class="w-fit mx-auto mt-8 mb-10">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[103%] block m-auto">
          <div class="w-[15rem]">
            <Image
              class="mask mask-circle object-cover"
              format="webp"
              width={600}
              height={600}
              src="/profile.webp"
              alt="Profile image"
            />
          </div>
        </div>
      </a>
    </div>

    <!-- Menu -->
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />

    <!-- Footer -->
    <SideBarFooter />
  </aside>
</div>
