---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<!-- Must be a direct child of the .drawer container in BaseLayout -->
<div class="drawer-side z-40 bg-white-500">
  <!-- Required overlay for mobile -->
  <label for="my-drawer" class="drawer-overlay"></label>

  <!-- Sidebar container -->
  <aside
    data-theme="sidebarDark"
    class="px-8 pt-8 min-h-full w-[26rem] leading-relaxed text-base-content flex flex-col"
  >
    <!-- Profile Image (unchanged) -->
    <div class="w-fit mx-auto mt-8 mb-10">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[103%] block m-auto">
          <div class="w-[16rem]">
            <Image
              class="mask mask-circle object-cover"
              format="webp"
              width={600}
              height={600}
              src="/profile.webp"
              alt="Profile image"
            />
          </div>
        </div>
      </a>
    </div>

    <!-- Bigger text for menu (overrides DaisyUI sizes) -->
    <div class="[&_.menu]:!text-2xl [&_.menu_li>*]:!text-inherit [&_.menu_a]:!text-inherit md:[&_.menu]:!text-[1.6rem]">
      <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    </div>

    <!-- Icon alignment normalizer (doesn't change your footer markup) -->
    <div
      class="mt-6 flex justify-center
             [&_*]:leading-none
             [&_a]:inline-flex [&_a]:items-center [&_a]:justify-center [&_a]:w-9 [&_a]:h-9
             [&_svg]:block [&_svg]:w-6 [&_svg]:h-6
             [&_img]:block [&_img]:w-6 [&_img]:h-6 [&_img]:object-contain"
    >
      <SideBarFooter />
    </div>
  </aside>
</div>
